{% extends 'adminPage/admin_base.html' %}

{% load static %}

{% block title %}

{{ place.name }}

{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/tourplace.css' %}">
{% endblock %}

{% block content %}

<div class="main-content">

    <!-- HOTELS -->
    <div id="hotels-section">

        <h3 class="section-title mb-4">
            Manage Hotels
        </h3>

        <div class="row mb-4">

            <div class="col-md-4">

                <form method="GET">

                    <select name="place"
                            class="form-select"
                            onchange="this.form.submit()">

                        <option value="">
                            All Tourist Places
                        </option>

                        {% for place in places %}

                        <option value="{{ place.id }}"
                            {% if selected_place == place.id|stringformat:"s" %}
                                selected
                            {% endif %}>

                            {{ place.name }}

                        </option>

                        {% endfor %}

                    </select>

                </form>

            </div>

        </div>

        <div class="row mt-4">

            {% for h in hotels %}

                <div class="col-md-4 mb-4">

                    <a href="{{ h.google_map_link }}" target="_blank" style="text-decoration:none; color:inherit;">
                    
                    <div class="hotel-card">

                        <img src="{{ h.image.url }}" class="hotel-img">

                        <div class="hotel-content">

                            <h5 class="hotel-title">{{ h.name }}</h5>

                            <div class="d-flex justify-content-between align-items-center mb-2">

                                <div>

                                    <span class="rating">{{ h.rating }} ⭐</span>

                                    <span class="text-muted"> ({{ h.rating_count }} Reviews) </span>

                                </div>

                                <div class="hotel-price">

                                    ₹{{ h.price_per_night }}

                                    <small class="text-muted">/night</small>

                                </div>

                            </div>

                            <p class="hotel-info"> 📍 {{ h.location }} </p>

                            <div class="d-flex gap-2 mb-2">

                                <span class="room-badge"> 👨 {{ h.adults }} Adults </span>

                                <span class="room-badge">  👶 {{ h.children }} Children </span>

                            </div>

                            <div class="d-flex justify-content-between mb-2">

                                <span class="hotel-info"> 🛏️ {{ h.available_rooms }} Rooms </span>

                                <span class="hotel-info"> ⭐ Premium Stay </span>

                            </div>

                            <div class="d-flex justify-content-between">

                                <span class="hotel-info"> Check-In: {{ h.check_in }} </span>

                                <span class="hotel-info">Check-Out:{{ h.check_out }}</span>

                            </div>

                            <div class="d-flex justify-content-center gap-2 mt-3">

                                <a href="{% url 'edit_hotel' h.id %}" class="btn btn-warning">
                                    Edit
                                </a>

                                <button class="btn btn-danger" onclick="confirmDelete('{{ h.id }}')">
                                    Delete
                                </button>

                            </div>

                        </div>

                    </div>
                </a>

            </div>

            {% empty %}

                <p>No hotels found.</p>

            {% endfor %}

        </div>

    </div>

</div>

{% endblock %}

{% block extra_js %}

<script>
    function confirmDelete(id){

        if(confirm("Are you sure you want to delete this Hotel ?")){

            h_id = parseInt(id);
            window.location.href = "/admin_delete_hotel/" + h_id + "/";

        }

    }
</script>

{% endblock %}